services:
  db:
    image: postgres:14.3
    container_name: nest-auth-link-db
    restart: always
    ports:
      - '5432:5432'
    environment:
      POSTGRES_USER: ${DB_USERNAME}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    volumes:
      - ./postgres:/var/lib/postgresql/data

  adminer:
    image: adminer:standalone
    container_name: adminer-link
    restart: always
    ports:
      - '8082:8080'

  maildev:
    image: maildev/maildev
    container_name: maildev-link
    restart: always
    ports:
      - '1080:1080'
      - '1025:1025'
